<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>애플 카드 컴포넌트</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <article class="apple-card">
      <h2>iPad-pro</h2>
      <p>
        <span>놀라우리만치 얇다</span>
        <span>엄청나게 강력하다</span>
      </p>
      <p>출시일 추후 공개</p>
      <div>
        <a href="#void">알아보기</a>
        <a href="#void">가격보기</a>
      </div>
    </article>
  </body>
</html>
